.markdown-preview-view,
.markdown-rendered {
    --h1-size: 2em !important;
    --h2-size: 1.6em !important;
    --h3-size: 1.4em !important;
    --h4-size: 1.2em !important;
    --h5-size: 1em !important;
}

.navbar h1 {
    color: var(--text-normal);
    font-family: 'IBM Plex Sans', sans-serif;
    --h1-weight: bold;
}