<footer class="site-footer sticky-footer">
    <div class="container">
    <p>NoobThink &copy; 2024</p>
    {% if collections.footerPages.length > 0 %}
        <nav class="footer-nav">
            {% set sortedFooterPages = collections.footerPages | sort(false, false, 'data.dg-footer-position') %}
            {% for page in sortedFooterPages %}
                <a href="{{ page.url }}" class="footer-link">{{ page.data.title or page.fileSlug }}</a>
                {% if not loop.last %}<span class="footer-separator">•</span>{% endif %}
            {% endfor %}
        </nav>
    {% endif %}
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.10.3/simple-lightbox.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    new SimpleLightbox('.content img', {
      "sourceAttr": "src"
    });
  });
</script>
