body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        flex: 1 0 auto;
    }

    .site-footer {
        flex-shrink: 0;
        padding: 20px 0;
        text-align: center;
    }

    .site-footer p {
        margin: 0;
    }

    .footer-nav {
        margin-top: 10px;
    }

    .footer-link {
        text-decoration: none;
        color: var(--accent-1);
    }

    .footer-link:hover {
        text-decoration: underline;
    }

    .footer-separator {
        font-size: 2rem;
        margin: 0 15px;
        vertical-align: sub;
    }
}
